<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-description"
        style="background-image: url('https://kitt.lewagon.com/placeholder/cities/shanghai');>
        <%= cocktail.name %>
        </div>
        <%= link_to 'Voir', cocktail_path(cocktail), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>  
</div>
</div>
<div class="container">
<ul style="list-line: none">
    <% @cocktails.each do |cocktail| %>
    <li>
    <h3><%= cocktail.name %> - <%= link_to 'Voir', cocktail_path(cocktail) %></h3>
    </li>
    <% end %>
</ul>
</div>
<div class="container">
<ul>
    <li>
    <%= link_to 'Ajouter un cocktail', new_cocktail_path %>
    </li>
</ul>
</div>
